.faq-item {
  width: 97%;
  margin: auto;
  background-color: #e6e3c9;
  overflow: hidden;
}

.faq-accent-img-bottom {
  transform: matrix(1, 0, 0, 1, 0, 0);
}

@media (max-width: 480px) {
  .faq-accent-img-bottom {
    width: 200% !important;
    max-width: 200%;
    margin-left: -50%;
  }
}

.faq-header-item {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #bda369;
  padding: 1em;
}

.faq-header-text {
  font-family: 'Cedarville Cursive', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 3.25em;
  line-height: 0.5em;
  letter-spacing: 0.04em;
}

@media (max-width: 480px) {
  .faq-header-text {
    font-size: clamp(1.5em, 7vw, 2.25em);
  }
}

.section-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 1em;
}

.section-title-vector-right {
  transform: rotate(59deg);
}

.section-title-vector path {
  fill: #ffffff00;
  stroke: #bdbfdb;
}

.faq-body-item {
  width: 100%;
  margin: 4em auto;
  text-align: center;
  color: #bda369;
}

.faq-qa {
  margin-bottom: 2em;
  text-align: center;
}

.faq-question {
  font-family: 'Caudex';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  color: #bda369;
  margin-bottom: 0.4em;
}

.faq-answer {
  font-family: 'Caudex';
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.08em;
  color: #bda369;
}

.faq-link {
  color: #8E95CF;
  text-decoration: underline;

  &:hover {
    color: #bda369;
  }
}

@media (max-width: 768px) {
  .faq-header-item {
    width: 100%;
  }

  .faq-body-item {
    margin: 2em auto;
  }
}