.header {
  width: 100%;
  position: relative;
  z-index: 1000;
  top: 0;
  background-color: #e6e3c9;
  background-image: linear-gradient(to bottom right, #e6e3c9ed, #e6e3c9ed), url(/header_background.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.header.sticky {
  position: sticky;
}

@media (max-width: 768px) {
  .header.sticky {
    position: relative;
  }
}

.header-background-accent-item {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.header-background-accent-left, .header-background-accent-right {
  width: 50%;
  height: 100%;
}

.header-background-accent-left-top, .header-background-accent-right-top {
  width: 50%;
}

.header-background-accent-left-top img, .header-background-accent-right-top img {
  position: absolute;
  top: 0;
  display: block;
}

.header-background-accent-left-top img, .header-background-accent-left-bottom img {
  left: 0;
}

.header-background-accent-right-top img, .header-background-accent-right-bottom img {
  right: 0;
}

.header-background-accent-left-bottom, .header-background-accent-right-bottom {
  width: 50%;
}

.header-background-accent-left-bottom img, .header-background-accent-right-bottom img {
  position: absolute;
  bottom: 0;
  display: block;
  pointer-events: none;
}

.nav {
  width: 100%;
  position: relative;
  z-index: 99;
}

.nav-items {
  background-color: #F3E5CA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: clamp(1em, 3vw, 5em);
  padding: 5px 25px;
}

.nav-item {
  font-family: 'Caudex';
  color: #9A7D4B;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(10px, 1.2vw, 16px);
  line-height: 29px;
  letter-spacing: 0.14em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  white-space: nowrap;
}

.nav-item a {
  outline: none;
  text-align: center;
}

.nav-item a:focus {
  outline: none;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item svg {
  display: none;
}

.nav-item:hover svg {
  display: block;
  position: absolute;
}

.nav-item:hover svg:first-child {
  left: -25px;
}

.nav-item:hover svg:last-child {
  right: -25px;
  transform: rotate(59deg);
}

.nav-item:hover svg path {
  fill: #ffffff00;
  stroke: #8E95CF;
}

.nav-item:hover a,
.nav-item-active a {
  color: #8E95CF;
  font-style: normal;
  font-weight: 700;
}

.mobile-nav {
  display: none;
}

.mobile-menu-btn {
  display: none;
}

.mobile-menu-btn mat-icon {
  color: #bda369;
}

@media (max-width: 768px) {
  .mobile-nav {
    background-color: #dccca3;
    display: block;
    position: sticky;
    top: 0;
    z-index: 1001;
    width: 100%;
  }

  .nav-items {
    display: none;
  }

  .mobile-menu-btn {
    display: block !important;
    z-index: 99;
  }

  .header-background-accent-left-bottom img {
    display: none;
  }
}