#rsvp-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#rsvp-iframe {
  width: 100%;
  height: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}

.header-divider {
  display: none;
}

@media (max-width: 768px) {
  .header-divider {
    display: block;
    width: 100%;
    margin: auto;
    background: #c5c6d3;
    height: 0.25em;
  }
}