
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Caudex:wght@400;700&display=swap');

body.rsvp-page > app-root > app-header,
body.rsvp-page > app-root > .header-divider {
  display: none;
}

/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  line-height: 1.6;
  color: #48482A;
  font-family: 'Caudex', serif;
  background: #DCD9B9;
}

/* Image optimization */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Button reset */
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

:root {
  @include mat.menu-overrides((
    container-color: #eae2ce,
    item-label-text-color: #9a7d4b,
    item-label-text-font: "Caudex"
  ));
}